<!--
 * @Author: xzben
 * @Date: 2022-06-01 18:22:10
 * @LastEditors: xzben
 * @LastEditTime: 2022-06-10 10:29:19
 * @Description: file content
-->
<div>
    <ui-prop>
        <ui-label class="propTitle">Name: </ui-label>
        <ui-label class="propName">Test</ui-label>
    </ui-prop>

    
    <ui-label class="propTitle">TITLE</ui-label>
    <ui-input class="editorTitle"></ui-input>

    <ui-label class="propTitle">DESCRIPTION</ui-label>
    <ui-textarea class="editorDescription" value=""></ui-textarea>

    <ui-prop>
        <ui-label class="propTitle">PROPERTIES</ui-label>
        <div class="dropdown" id="propAdd">
            <ui-button class="propAdd">+</button>
            <div class="dropdown-content">
            </div>
          </div>
    </ui-prop>

    <div class="properties" >
        
    </div>
</div>